{% extends 'layout.html' %}

{% block content %}
    <div class = 'search_bar'>
      <form id="hashtag-form" action="/hashtag">
        <input type="text" name="hashtag" placeholder="태그 검색">
        <button class="btn">검색</button>
      </form>
    </div>
    <div class = 'main'>
      {% if user and user.id %}
      <h3>{{user.nick}}님 안녕하세요.</h3>
      {% else %}
      <h3>로그인 해주세요!</h3>
      {% endif %}
      <div class="twits">
        {% for twit in twits %}
        <div class="twit">
          <!-- <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
          <input type="hidden" value="{{twit.id}}" class="twit-id"> -->
            <div class = content_div>
            {% if twit.img %}
              <img src="{{twit.img}}" alt="...">
            {% endif %}
              <h5>{{twit.title}}</h5>
              <!-- <p>{{twit.content}}</p> -->
              <p><small class="text-muted">{{twit.borrow}}</small></p>
              <div class = detail_div>
            </div>
            <div class = detail_div>
              <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
              <input type="hidden" value="{{twit.id}}" class="twit-id">              <div class="twit-author">{{twit.User.nick}}</div>
              {% if not followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
                <button class="twit-follow">팔로우하기</button>
              {% endif %}
          </div>
        </div>
      </div>
  {% endfor %}
  </div>
  <!-- <script defer src="/javascripts/follow.js"></script> -->
  <script>
    document.querySelectorAll('.twit-follow').forEach(function(tag) {
      // alert('click');
      tag.addEventListener('click', function() {
        console.log('click');
        const myId = document.querySelector('#my-id');
        console.log(myId);
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          // const userId = tag.parentNode;
          console.log(userId);
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
  </script>
{% endblock %}
